.footer {
    border: 2px solid;
    border-radius: 10px;
    padding: 0px 20px;
    background-color: #fdfdfd;
    outline: 4px solid #f7f2e0;
    box-shadow: 0px 20px 18px -9px #203783;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}